.bayan {
    max-width: 45%;
    margin: 2vw auto;

}
.headings{
    display: flex;
    justify-content: space-between;
}
.head{
    width: 25em;
}
.icon{
    background-image: url('svg/plus-svgrepo-com.svg');
    background-size: cover;
    width: 2em;
    height: 2em;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
img{
    width: 13em;
    transform: scale(0);
    transition: all 0.5s ease;
}

.bayan .bayan-title {
    margin: 0 auto;
    height: 0;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    display: flex;
    justify-content:center;
}
.bayan .bayan-title p {
    margin: 0 0 0.5em;
    cursor: pointer;
}
.bayan  label {
    cursor: pointer;
    background-color: #121111;
    display: block;
    padding: 1em 1em;
    width: 100%;
    color: #fcfcfc;
    font-weight: 300;
    box-sizing: border-box;
    z-index: 100;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    border: 0.05em solid #ffffff;
    transition: color .35s;
}

input{
    display: none;
}
input:checked + label {
    background-color: #acacac;
    color: bisque;
}

input:checked + label  .bayan-title {
    height: auto;
    color: #000;
    padding: 1em 2em 1em;
}
input:checked + label .icon {
    background-image: url('svg/cross-svgrepo-com.svg');
    width: 2em;
    height: 2em;
}
input:checked  + label img {
    width: 13em;
    height: 100%;
    transform: scale(1);
}
@media (hover: hover) {
    .bayan:hover .icon{
        visibility: visible;
    }
    .bayan:hover .head{
        color: bisque;
    }
    label:hover {
        color: #bcbcbc;
    }
    .bayan:hover .icon {
        opacity: 1;
    }
    .bayan-1:hover .bayan-title {
        height: auto;
        color: #000;
        padding: 1em 2em 1em;
    }
    .bayan-1:hover img {
        transform: scale(1);
    }
    .bayan-2:hover .bayan-title {
        height: auto;
        color: #000;
        padding: 1em 2em 1em;
    }
    .bayan-2:hover img {
        transform: scale(1);
    }
    .bayan-3:hover .bayan-title {
        height: auto;
        color: #000;
        padding: 1em 2em 1em;
    }
    .bayan-3:hover img {
        transform: scale(1);
    }
    .bayan-4:hover .bayan-title {
        height: auto;
        color: #000;
        padding: 1em 2em 1em;
    }
    .bayan-4:hover img {
        transform: scale(1);
    }
    .bayan-5:hover .bayan-title {
        height: auto;
        color: #000;
        padding: 1em 2em 1em;
    }
    .bayan-5:hover img {
        transform: scale(1);
    }
  }

.bayan:active .bayan-title {
    filter: blur(0.05em);
    cursor: grabbing;
}
.bayan-1:active .head {
    color: #8e8e8e;
}
.bayan-1:active .icon{
    filter: invert(55%) sepia(12%) saturate(14%) hue-rotate(66deg) brightness(101%) contrast(90%);
}


.bayan-2:active .head {
    color: #8e8e8e;
}
.bayan-2:active .icon{
    filter: invert(55%) sepia(12%) saturate(14%) hue-rotate(66deg) brightness(101%) contrast(90%);
}


.bayan-3:active .head {
    color: #8e8e8e;
}
.bayan-3:active .icon{
    filter: invert(55%) sepia(12%) saturate(14%) hue-rotate(66deg) brightness(101%) contrast(90%);
}


.bayan-4:active .head {
    color: #8e8e8e;
}
.bayan-4:active .icon{
    filter: invert(55%) sepia(12%) saturate(14%) hue-rotate(66deg) brightness(101%) contrast(90%);
}

.bayan-5:active .head {
    color: #8e8e8e;
}
.bayan-5:active .icon{
    filter: invert(55%) sepia(12%) saturate(14%) hue-rotate(66deg) brightness(101%) contrast(90%);
}
@media (max-width: 1270px) {
    .bayan {
        max-width: 55%;;
    }
    .bayan  label {

        font-size: 0.8em;
    }

}
@media (max-width: 819px) {
    .bayan {
        max-width: 65%;;
    }
    .bayan  label {

        font-size: 0.6em;
    }

}
@media (max-width: 500px) {

    .bayan {
        max-width: 70%;
    }
    .bayan  label {

        font-size: 0.5em;
    }

}

